@import '../../utils/vars';

.App {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 90%;
    padding: 0 40px;
    
    *{
        margin: 0;
        padding: 0;
    }
}

.titulo{
    margin-bottom: 10px;
}

.row{
    height: 80%;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 38%;
}

#usuarios{
    width: 20%;
}